.song-container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    img{
        width: 20%;
        border-radius: 50%;
    }
    h2{
        padding: 1rem 1rem 1rem 1rem;
    }
    h3{
        font-size: 1rem;
    }

}

@media screen and (max-width:480px){
    .song-container{
    img{
        width: 60%;
    }
}
}


@media screen and (min-width:481px) and (max-width:768px){
    .song-container{
        img{
            width: 30%;
        }
    }
  }
.song-playing{
    animation:  rotate 10s infinite linear;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}